.about-me-section{
  background-color: #eeefe5;
  h1{
    font-size: 4rem;
    font-family: "fiction-medium", Arial, Helvetica, Sans-Serif;
  }
  .intro{
    font-size: 25px;
    color: #666666;
    line-height: 1.3em;
    margin-bottom: 0.7em;
    clear: both;
  }
}
footer{
  background-color: #14151a;
  a{
    color: #fff;
  }
}
