@import "scss/animations";
@import "scss/section";

html, body {
  height: 100%;
  font-family: "fiction-light", Arial, Helvetica, Sans-Serif !important;
  background-color: #333 !important;
  overflow: hidden;
}
body::before {
  content: 'mobile';
  display: none;
}

@font-face {
  font-family: 'fiction-bold';
  src: url(/assets/fonts/neosans-medium-webfont.woff) format('woff2'),
  url(/assets/fonts/neosans-medium-webfont.woff) format('woff');
}

@font-face {
  font-family: 'fiction-light';
  src: url(/assets/fonts/proximanova-light-webfont.woff) format('woff2'),
  url(/assets/fonts/proximanova-light-webfont.woff) format('woff');
}


::-webkit-scrollbar {
  width: 6px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #7d7d7d;
  border: 1px solid #888;
}
::selection {
  background: #607d8b;
  color: white;
}

.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
  cursor: pointer;
  transition: .10s ease-in-out;
  &:hover{
    height: 50px !important;
    width: 50px !important;
  }
}


@media only screen and (min-width: 768px) {
  body::before {
    content: 'desktop';
  }
}
