<div #ballDiv></div>
<div class="row">
  <div class="col-md-8">
    <div class="summery-home text-left">
      <h2>Hi, my name is Supun. </h2>

      <h4>Experienced full stack web developer with a demonstrated history of working in the leisure, travel & tourism industry.</h4>
      <button class="btn see-my-work" (click)="showPage('details|portfolio')">See My Works</button>
    </div>
  </div>
  <div class="col-md-4 text-right">

    <div class="cording">
      <div class="bar"></div>
      <span class="code-body"></span>
    </div>
  </div>
</div>
